# STT Server
STT_HOST=0.0.0.0
STT_PORT=5099
STT_TOKENS=
STT_POOL_SIZE=8
STT_DEBUG=false
# Gunicorn
GUNICORN_WORKERS=4
# STT Client
STT_METHOD=url
STT_URL=http://localhost:5099
STT_TOKEN=
# LOGGING
LOG_LEVEL=INFO
LOG_ACCESS=false
# Whisper
WHISPER_MODEL=turbo
WHISPER_LANGUAGE=en
WHISPER_DOWNLOAD_ROOT=models
COMPUTE_TYPE=auto
